@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Rubik", sans-serif;
  }
}

@layer components {
  .hero {
    position: relative;
    background: linear-gradient(
        to bottom,
        rgba(100, 149, 237, 0.4),
        rgba(137, 207, 240, 0.8)
      ),
      url("/banner.jpg");
    background-position: 0% 0%;
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
    background-attachment: fixed;
    border-radius: 8px;
  }

  .hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .animate {
    color: #003153;
    animation: heart-pulse 1s infinite;
  }

  @keyframes heart-pulse {
    0% {
      transform: scale(0.75);
    }
    50% {
      transform: scale(1);
    }
    100% {
      transform: scale(0.75);
    }
  }
}
